<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.web.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.oracle.web.bean.Admin">
    <id column="AID" jdbcType="INTEGER" property="aid" />
    <result column="ADMINNAME" jdbcType="VARCHAR" property="adminname" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where AID = #{aid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oracle.web.bean.Admin">
    insert into admin (AID, ADMINNAME, PASSWORD
      )
    values (#{aid,jdbcType=INTEGER}, #{adminname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.oracle.web.bean.Admin">
    update admin
    set ADMINNAME = #{adminname,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR}
    where AID = #{aid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select AID, ADMINNAME, PASSWORD
    from admin
    where AID = #{aid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AID, ADMINNAME, PASSWORD
    from admin
  </select>
  <select id="validateName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select adminname from admin a where a.adminname=#{adminname}
  </select>
  <select id="login2"  parameterType="java.lang.String" resultMap="BaseResultMap">
  	
  	select * from admin a where a.adminname=#{adminname}
  </select>
</mapper>